#root {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  margin: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.container-card1, .container-card2 {
  margin: 1rem;
  transition: width 3000s ease 5s;
}

.container-card1,
.container-card1-short {
  transition: width 3000s ease 5s;
}

.container-card1-short {
  width: 70%; /* Define the short height */
}
.container-card1 {
  width: 100%;
}

.container-card2 {
  width: 70%;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 3000s ease 5000s, transform 3000s ease 50000s;
}

.container-card2.visible {
  opacity: 1;
  transform: translateY(0);
}

.container2 {
  display: flex;
  margin: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.container-card3 {
  height: 350px;
  margin: 1rem;
  width: 70%;
}
.container-accordion {
  /* flex: column; */
  margin: 1rem;

}

@media (max-width: 600px) {
  #root {
    max-width: 100%;
    color: #3c3e3f;
  }

  .container {

    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
  .container2 {

    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
  .container-card1, .container-card2, .container-card3, .container-accordion {
    margin: auto;
    margin-bottom: 1rem;
    width: 100%;
  }

}


