.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.table-container {
    width: 45%;
}

.table-box {
    overflow-x: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}


.styled-table  {
    width: 100%;
    border-collapse: collapse;
}

.styled-table, .styled-table th, .styled-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.styled-table tr:hover {
    cursor: pointer;
    background-color: #f2f2f2;
    color: black;
}

.styled-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: blue;
    color: rgba(255, 255, 255, 0.87);
}


.pagination {
    margin-top: 1rem;
}
.pagination-button:nth-child(2) {
    margin-left: 0.5rem;
}
.piechart-container {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.details-container {
    margin-top: 3rem;
    /* display: flex;
    justify-content: space-around; */
}
.details {
    justify-content: center;
    width: 100%;
    /* align-items: center; */
}
.details-heading {
    margin-top: 20px;
}

.bar-graph {
    width: 100%;
    margin: 0 auto;
}

.excel-export {
    margin-top: 1rem;
    display: flex;
    justify-content: center;

}


@media (max-width: 600px) {
    .container, .details-container {
        display: block;
    }

    .table-container, .piechart-container, .bar-graph {
        width: 100%;
        box-sizing: border-box;
    }

    .table-box {
        padding-left: 0;
        padding-right: 0;
    }
}